@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}


.font-serif {
  font-family: 'Libre Bodoni', serif;
}
  
.font-poppins {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.bg-custom {
  background-color: #333131;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: black;
  border: none;
  border-radius: 0.25rem;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  text-decoration: underline;
}
